html { font-size: 100%; }

body {
    font-family: 'Lato', sans-serif;
    color: white;
    position: absolute;
    width: 100%;
    background-color: #333333;
    margin: 0px; 
    padding: 0px
}

#navbar { 
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;
    transition: top 0.3s; 
    background-color: rgba(44, 44, 44, 0.5);
    z-index: 1000;
}

#navbar_number {
    color: #6699cc;
}

#navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 14px;
    margin-right: 48px;
    margin-bottom: 16px;

}

#navbar a:hover {
    color: #6699cc;
}

#below {
    color: #6699cc;
    display: inline;
    text-decoration: none;
    position: relative;
    cursor: pointer
}

#below:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #6699cc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#below:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#underline {
    color: #6699cc;
    display: inline;
    text-decoration: none;
    position: relative;
    cursor: pointer
}

#underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #6699cc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.terminal {
    width: 50vw;
    margin-top: 50px;
    margin-left: 25vw;
    box-shadow: 8px 8px 22px 2px rgba(0,0,0,0.7);
}

.fakeMenu {
    width: 50vw;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    height: 600px;
    width: 50vw;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.1rem;
}

.text {
    color: white;
    display: inline;
}

.text2 {
    color: #6699cc;
    display: inline;
}

.text3 {
    color: white;
    display: inline;
}

.text4 {
    color: white;
    display: inline;
}

.text5 {
    color: white;
    display: inline;
}

.text6 {
    color: white;
    display: inline;
}

.text7 {
    color: white;
    display: inline;
}

.text8 {
    color: white;
    display: inline;
}

#logo {
    display: block;
    float:left;
    height: 40px;
    width: 40px;
    transition: top 0.3s;
    position:fixed;
    margin-top: 5px;
    margin-left: 25px;
    z-index: 1001;
}

.section {
    margin-top: 25vh;
    margin-bottom: 25vh;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 1.4rem;
}

.section_num {
    text-align: center;
    color: #6699cc;
}

.section_title {
    text-align: center;
    color: #f2f2f2;
}

#intro_text {
    font-size: 22px;
    color: #999999;
}

.double_list {

}

.profile_pic {
    margin-top: -3.25vh;
    margin-left: 42vw;
    margin-bottom: -6vh;
}

#profile {
    box-shadow: 8px 8px 22px 2px rgba(0,0,0,0.5);
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

#profile:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}


.double ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    float: left;
}


ol {
    list-style: none

}

li::before {
    content: "";
    border-color: transparent #6699cc;
    border-style: solid;
    border-width: 0.25em 0 0.25em 0.35em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
    font-size: 20px;
}

li  { 
    color: #999999;
    padding-right: 40px;
}

.featured {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.feat_pic {
    box-shadow: 8px 8px 22px 2px rgba(0,0,0,0.6);
}

.feat_text_lcontainer {
    position:absolute;
    padding-top: 1%;
    padding-left: 2%; 
}

.feat_text_rcontainer {
    position:absolute;
    right: 15%;
    padding-top: 1%;
}

.feat_pic_right {
    box-shadow: 8px 8px 22px 2px rgba(0,0,0,0.6);
    margin-left: 350px;
}

.feat_title {
    position:relative;
    font-size: 150%;
}

.feat_lang {
    padding-top: 45%;
    position:relative;
    font-size: 60%;
}

.feat_project {
    position:relative;
    color: #6699cc;
    font-size: 14px;
}

.feat_container {
  position: relative;
  width: 58.75%;
  height: auto;
}

.blue_overlay {
  position: absolute;
  bottom: 0;
  left: 350px;
  right: 0;
  top:-0.5px;
  background-color: #6699cc;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 295px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0.7;
}

.white_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:-0.5px;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 295px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0.5;
}

.feat_container:hover .blue_overlay {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.feat_container:hover .white_overlay {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.right_rect {
    position: absolute;
    fill:white;
    fill-opacity:0.9;
    -webkit-filter: drop-shadow( 5px 5px 5px #000 ); 
            filter: drop-shadow( 5px 5px 5px #000 );
}

.left_rect {
    position: absolute;
    fill:white;
    fill-opacity:0.9;
    -webkit-filter: drop-shadow( -5px 5px 5px #000 ); 
            filter: drop-shadow( -5px 5px 5px #000 );
}

.project-container {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
}


.project {
    background-color: #336699;
    position: relative;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 50px;  
    box-shadow: 8px 8px 22px 2px rgba(0,0,0,0.6);
    -webkit-transition: all .5s ease-in-out;
}

.project:hover {
    -webkit-transform: scale(1.01);
    background-color: #6699cc;
}

.project_title {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 6px;
}

.project_content {
    padding-top: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.list_tags {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.tag {
    display: inline-block;
    font-size: 10px;
    padding: 4px 4px 4px 4px;
    background-color: #336699;
}

.position {
    font-size: 22px;
    color: #f2f2f2;
}

.company_name {
    font-size: 22px;
    margin-bottom: 10px;
    color: #6699cc;
    margin-left: 28px;
}

.company_desc {
    font-size: 18px;
}

.time {
    font-size: 16px;
    color: #CCCCCC;
}

.contact_text {
    font-size: 24px;
    color: #999999;
    margin: 20px 60px 20px 60px;
    text-align: center;
}

.icons {
    text-align: center;
}

.contact_icon {
    font-size: 48px;
}

.fa-linkedin {
   color:#4875B4;

} 

.fa-linkedin:hover {
    color:#6f85a4;
} 

.fa-facebook-square {
    color:#3B5998;
}

.fa-facebook-square:hover {
    color:#758ab6;
}

.fa-github-square {
    color:#211F1F;
}

.fa-github-square:hover {
    color:#4d4b4b;
}

.fa-envelope-square {
    color:#d44638;
}

.fa-envelope-square:hover {
    color:#dc6a5f
}

.fa-github {
    color:white;
    text-decoration: none;
    border-radius: 50%;
}


.fa-github:hover {
    color:#336699;
    transition-duration: .3s;
}

.project_icon {
    color:white;
    font-size: 26px;
    text-decoration: none;
    position: absolute;
    top:0;
    left:0;
    padding-top: 16px;
    padding-left: 16px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 950px) {

}


@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {

}

