:root {
    --main-color: rgb(0,71,170); 
    --top-nav-space: 100px;
    --nav-space: 60px;
    --sidebar-width: 24%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.main {
  margin-left: var(--sidebar-width); /* Same as the width of the sidenav */
  font-size: 20px;
  padding: 215px 60px;
}

.intro {
	font-weight: 700;
	padding-bottom: 2px;
}

.bio {
	font-weight: 300;
}

