body {
    font-family: 'Open Sans Condensed', serif;
    color: white;
    position: absolute;
    width: 100%;
    background-color: #333333;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: -5;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 14px;
    margin-right: 48px;
    margin-bottom: 16px;

}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.fa {
    font-size: 48px;
}

.fa-linkedin-square {
   color:#4875B4;

} 

.fa-linkedin-square:hover {
    color:#32517d;
} 

.fa-facebook-square {
    color:#3B5998;
}

.fa-facebook-square:hover {
    color:#293e6a;
}

.fa-github-square {
    color:#211F1F;
}

.fa-github-square:hover {
    color:#4d4b4b;
}

.fa-envelope-square {
    color:#d44638;
}

.fa-envelope-square:hover {
    color:#b23121;
}

.terminal {
    margin-top: 50px;
}

.fakeMenu {
    width: 550px;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeScreen {
    background-color: #151515;
    box-sizing: border-box;
    height: 500px;
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text {
    color: white;
    display: inline;
    z-index: 10;
}

#navbar_number {
    color: #6699cc;
    display: inline;
}

#logo {
    display: inline;
    float:left;
    height: 40px;
    width: 90px;
    transition: top 0.3s;
    position:fixed;
}