:root {
    --main-color: rgb(0,71,170); 
    --top-nav-space: 100px;
    --nav-space: 60px;
}

body {
    font-family: 'Lato', sans-serif;
}

.sidenav {
    height: 100%;
    width: 26%;
    text-align: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E7E7E7;
    overflow-x: hidden;
    padding-top: var(--top-nav-space);
}

.sidenav .name_sidenav {
    padding: 6px 8px 0px 48px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

.sidenav .pos_sidenav {
    padding: 0px 8px 6px 48px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    color: var(--main-color);
}

.sidenav .on_page {
    padding: 6px 8px 6px 48px;    
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
}

.sidenav .links {
    padding: 6px 8px 6px 48px;
    text-decoration: none;
    font-size: 16px;
    color: #909090;
    display: block;
}

.sidenav .on_page .below {
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid var(--main-color);
}

.sidenav .links .underline {
    position: relative;
    color: #909090;
    text-decoration: none;
    display: inline-block;
}

.sidenav .links .underline:hover {
    color: #000;
}

.sidenav .links .underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.sidenav .links .underline:hover:before {
    color: #000000;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sidenav .gap_sidenav {
    padding-top: var(--nav-space);
}




.main {
  margin-left: 22%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}